<section class="credits alloy-bg section" data-anchor="credits">
  <div class="container">
    <div class="inner centered">
      <h2>
        Europion <span>NOW</span>
      </h2>      
    <div class="column">

      <p>
        De visie over de verenigde staten van Europa van o.a. Churchill direct na de tweede wereldoorlog is alledaagse werkelijkheid geworden. Hierdoor staat niemand er meer bij stil dat deze vrede tussen andersdenkende staten eigenlijk iets heel bijzonders is. De verdere uitbouw van de Europese Unie als monetaire unie - waarin geen dichte grenzen meer bestaan en waarin gezamenlijk wordt geïnvesteerd en ontwikkeld - is in een vergevorderd stadium. In een tijd van gigantische economische voorspoed kon dit systeem onopgemerkt groeien en zegevieren. Nu de economische tijden minder rooskleurig zijn, Groot Brittannië na een referendum uit de EU lijkt te stappen en een grote vluchtelingenstroom Europa wil binnenkomen, worden de bureaucratische haarscheurtjes van het Brussels bestuur zichtbaar. Er moet ingegrepen worden om de stabiliteit en de verenigde economie van de Eurozone te bewaren.
      </p>
    </div>
    <div class="column">
      <ul>
        <h4>Het team</h4>
        <li>Ruben Daas <span>Concept, Data &amp; Design</span></li>
        <li>Mitchel van Eijgen <span>Web development &amp; Design</span></li>
        <li>Jaap Redeker <span>Web development</span></li>
        <li>David Hager <span>Concept &amp; Redactie</span></li>
        <li>Wilsun Cheung <span>Design</span></li>
      </ul>
      <ul>
        <h4>Tools</h4>
        <li>d3.js</li>
        <li>FullPage.js</li>
        <li>Codeanywhere</li>
      </ul>
      <ul>
        <h4>Special thanks to</h4>
        <li>Eric Cilessen</li>
      </ul>
    </div>
          </div>
    <a href="//studioalloy.nl" target="_blank" class="alloy-logo">

      <span>Alloy</span>
      <img src="inc/img/alloy-logo-bw.svg">
    </a>
  </div>
</section>