<section class="credits alloy-bg section" data-anchor="credits">
  <div class="container">
    <div class="inner">
      
    <div class="column">
      <h2>
        Europion NOW
      </h2>
      <p>
        De visie over de verenigde staten van Europa van o.a. Churchill direct na de tweede wereldoorlog is alledaagse werkelijkheid geworden. Hierdoor staat niemand er meer bij stil dat deze vrede tussen andersdenkende staten eigenlijk iets heel bijzonders is. De verdere uitbouw van de Europese Unie als monetaire unie - waarin geen dichte grenzen meer bestaan en waarin gezamenlijk wordt geïnvesteerd en ontwikkeld - is in een vergevorderd stadium. In een tijd van gigantische economische voorspoed kon dit systeem onopgemerkt groeien en zegevieren. Nu de economische tijden minder rooskleurig zijn, Groot Brittannië na een referendum uit de EU lijkt te stappen en een grote vluchtelingenstroom Europa wil binnenkomen, worden de bureaucratische haarscheurtjes van het Brussels bestuur zichtbaar. Er moet ingegrepen worden om de stabiliteit en de verenigde economie van de Eurozone te bewaren.
      </p>
      <p>
        De financiële crisis van rond 2010 hebben we overleefd, maar het gebrek aan visie over wat Europa moet zijn in de 21e eeuw zou een belangrijk agendapunt moeten vormen onder Europeanen. Waar nu vooral het tegengeluid luid verkondigd wordt door sommige partijen op basis van vooral sentiment, zouden meer mensen gehoord moeten worden die gevoed kunnen worden met feiten en cijfers. Cijfers van de gezamenlijke EU economie, zoals in- en exportdata en overheidsbestedingen, zijn beschikbaar via onder andere EuroStat, en bieden jaarlijkse updates in eindeloze tabellen met gegevens over wat de landen aan uitgaven en inkomsten hebben. Maar wat zeggen cijfers in een tabel een gemiddeld mens? En bovendien is de schaalgrootte van de EU enorm. Wat zeggen al die miljarden euro's en hoe verhouden deze zich met elkaar?
      </p>
    </div>
    <div class="column">
      <ul>
        <h4>Het team</h4>
        <li>Ruben Daas<span>Concept, data &amp; design</span></li>
        <li>Jaap Redeker<span>Web development</span></li>
        <li>Mitchel van Eijgen<span>Web development &amp; design</span></li>
        <li>David Hager<span>Concept &amp; Redactie</span></li>
      </ul>
      <ul>
        <h4>Tools</h4>
        <li>d3.js</li>
        <li>FullPage.js</li>
        <li>Codeanywhere</li>
      </ul>
      <ul>
        <h4>Special Thanks</h4>
        <li>Open State</li>
        <li>Eric</li>
      </ul>
    </div>
          </div>
    <a href="//studioalloy.nl" target="_blank" class="alloy-logo">

      <span>Alloy</span>
      <img src="inc/img/alloy-logo-bw.svg">
    </a>
  </div>
</section>